.bash_history
.config/
        .git-for-windows-updater
        .gitconfig
        .gitignore
        .idlerc/
        .lesshst
        .python_history
        .viminfo
        .vscode/
        3D Objects/
        AppData/
        Contacts/
        Desktop/
        Documents/
        Downloads/
        Dropbox/
        Favorites/
        Leroy-play/
        Links/
        LocalRepoProject/
        Music/
        NTUSER.DAT
        NTUSER.DAT{56025270-3123-11f0-9db4-d0c5d3d6ce54}.TM.blf
        NTUSER.DAT{56025270-3123-11f0-9db4-d0c5d3d6ce54}.TMContainer00000000000000000001.regtrans-ms
        NTUSER.DAT{56025270-3123-11f0-9db4-d0c5d3d6ce54}.TMContainer00000000000000000002.regtrans-ms
        OneDrive/
        Pictures/
        Saved Games/
        Searches/
        Videos/
        ntuser.dat.LOG1
        ntuser.dat.LOG2
        ntuser.ini
