Application Data/
Cookies/
Local Settings/
My Documents/
NetHood/
PrintHood/
Recent/
SendTo/
Start Menu/
Templates/
3D Objects/
AppData/
Contacts/
Desktop/
Documents/
Downloads/
Favorites/
Links/
Music/
OneDrive/
Pictures/
Saved Games/
Searches/
Videos/
.config/
.idlerc/
.vscode/
Dropbox/
LocalRepoProject/
NTUSER.DAT{56025270-3123-11f0-9db4-d0c5d3d6ce54}.TM.blf
NTUSER.DAT{56025270-3123-11f0-9db4-d0c5d3d6ce54}.TMContainer00000000000000000001.regtrans-ms
NTUSER.DAT{56025270-3123-11f0-9db4-d0c5d3d6ce54}.TMContainer00000000000000000002.regtrans-ms
ntuser.dat.LOG1
ntuser.dat.LOG2
ntuser.ini
.bash_history
.git-for-windows-updater
.gitconfig
.lesshst
.viminfo
NTUSER.DAT
.python_history
simple_calculator.py
python_practise/